body {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50);
    background: linear-gradient(to right, #bdc3c7, #2c3e50)
}

.responsive {
    max-width: 75%;
    height: auto;
}

img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}